html,
body {
	padding: 0;
	margin: 0;
}

.display-block {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.navbar {
	height: 45px;
	background-color: purple;
	flex: 0 0 100%;
	align-self: stretch;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 16px 32px;
}

/* Circle Hamburger Start*/
.circle-hamburger {
	display: flex;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: purple;
	flex-wrap: wrap;
	cursor: pointer;
	align-content: center;
	transition: all .5s;
}

.circle-hamburger div {
	border: 2px solid white;
	border-radius: 100px;
	height: 6px;
	width: 6px;
	transition: all .5s;
	transition-delay: .5s;
}

.circle-hamburger div:nth-of-type(1) {
	margin: 3px 1px 1px 3px;
}

.circle-hamburger div:nth-of-type(2) {
	margin: 3px 3px 1px 1px;
}

.circle-hamburger div:nth-of-type(3) {
	margin: 1px 1px 3px 3px;
}

.circle-hamburger div:nth-of-type(4) {
	margin: 1px 3px 3px 1px;
}

.circle-hamburger:hover {
	transform: rotate(180deg);
}

.circle-hamburger:hover div:nth-of-type(1) {
	transform: translate(-6px, -6px);
}

.circle-hamburger:hover div:nth-of-type(2) {
	transform: translate(6px, -6px);
}

.circle-hamburger:hover div:nth-of-type(3) {
	transform: translate(-6px, 6px);
}

.circle-hamburger:hover div:nth-of-type(4) {
	transform: translate(6px, 6px);
}

/* Circle Hamburger End*/

/* Clashing Hamburger Start */
.clashing-hamburger {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.clashing-hamburger .initial-bars,
.clashing-hamburger .arrow-bars,
.clashing-hamburger .spark-bars {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

.clashing-hamburger .initial-bars div,
.clashing-hamburger .arrow-bars div,
.clashing-hamburger .spark-bars div {
	background-color: #fff;
	height: 2px;
}

.clashing-hamburger .initial-bars div {
	width: 20px;
	margin: 3px 0;
	opacity: 1;
	transition: all .2s;
}

.clashing-hamburger .arrow-bars div,
.clashing-hamburger .spark-bars div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
}

.clashing-hamburger .arrow-bars div {
	width: 12px;
	transition: all .2s;
}

.clashing-hamburger .spark-bars div {
	width: 6px;
	opacity: 0;
	transition: all .2s;
	transition-delay: .075s;
}

.clashing-hamburger .arrow-bars div:nth-of-type(1) {
	transform: translateX(-20px) translateY(-4px) rotate(45deg);
}

.clashing-hamburger .arrow-bars div:nth-of-type(2) {
	transform: translateX(-20px) translateY(4px) rotate(-45deg);
}

.clashing-hamburger .arrow-bars div:nth-of-type(3) {
	transform: translateX(20px) translateY(-4px) rotate(-45deg);
}

.clashing-hamburger .arrow-bars div:nth-of-type(4) {
	transform: translateX(20px) translateY(4px) rotate(45deg);
}

.clashing-hamburger .spark-bars div:nth-of-type(1),
.clashing-hamburger .spark-bars div:nth-of-type(2) {
	transform: rotate(90deg);
}

.clashing-hamburger:hover .arrow-bars div:nth-of-type(1) {
	transform: translateX(-4px) translateY(-4px) rotate(45deg);
}

.clashing-hamburger:hover .arrow-bars div:nth-of-type(2) {
	transform: translateX(-4px) translateY(4px) rotate(-45deg);
}

.clashing-hamburger:hover .arrow-bars div:nth-of-type(3) {
	transform: translateX(4px) translateY(-4px) rotate(-45deg);
}

.clashing-hamburger:hover .arrow-bars div:nth-of-type(4) {
	transform: translateX(4px) translateY(4px) rotate(45deg);
}

.clashing-hamburger:hover .spark-bars div:nth-of-type(1) {
	transform: rotate(90deg) translateX(10px);
}

.clashing-hamburger:hover .spark-bars div:nth-of-type(2) {
	transform: rotate(90deg) translateX(-10px);
}

.clashing-hamburger:hover .initial-bars {
	opacity: 0;
}

.clashing-hamburger:hover .arrow-bars div,
.clashing-hamburger:hover .spark-bars div {
	opacity: 1;
}

/* Clashing Hamburger End */
